:root {
  /* =~= Theme Properties =~= */
  --theme-font-family-base: system-ui;
  --theme-font-family-heading: system-ui;
  --theme-font-color-base: 0 0 0;
  --theme-font-color-dark: 255 255 255;
  --theme-rounded-base: 9999px;
  --theme-rounded-container: 8px;
  --theme-border-base: 1px;
  /* =~= Theme On-X Colors =~= */
  --on-primary: 0 0 0;
  --on-secondary: 0 0 0;
  --on-tertiary: 0 0 0;
  --on-success: 0 0 0;
  --on-warning: 0 0 0;
  --on-error: 255 255 255;
  --on-surface: 255 255 255;
  /* =~= Theme Colors  =~= */
  /* primary | #F46036 */
  --color-primary-50: 253 231 225; /* ⬅ #fde7e1 */
  --color-primary-100: 253 223 215; /* ⬅ #fddfd7 */
  --color-primary-200: 252 215 205; /* ⬅ #fcd7cd */
  --color-primary-300: 251 191 175; /* ⬅ #fbbfaf */
  --color-primary-400: 247 144 114; /* ⬅ #f79072 */
  --color-primary-500: 244 96 54; /* ⬅ #F46036 */
  --color-primary-600: 220 86 49; /* ⬅ #dc5631 */
  --color-primary-700: 183 72 41; /* ⬅ #b74829 */
  --color-primary-800: 146 58 32; /* ⬅ #923a20 */
  --color-primary-900: 120 47 26; /* ⬅ #782f1a */
  /* secondary | #C3EB78 */
  --color-secondary-50: 246 252 235; /* ⬅ #f6fceb */
  --color-secondary-100: 243 251 228; /* ⬅ #f3fbe4 */
  --color-secondary-200: 240 250 221; /* ⬅ #f0fadd */
  --color-secondary-300: 231 247 201; /* ⬅ #e7f7c9 */
  --color-secondary-400: 213 241 161; /* ⬅ #d5f1a1 */
  --color-secondary-500: 195 235 120; /* ⬅ #C3EB78 */
  --color-secondary-600: 176 212 108; /* ⬅ #b0d46c */
  --color-secondary-700: 146 176 90; /* ⬅ #92b05a */
  --color-secondary-800: 117 141 72; /* ⬅ #758d48 */
  --color-secondary-900: 96 115 59; /* ⬅ #60733b */
  /* tertiary | #70D6FF */
  --color-tertiary-50: 234 249 255; /* ⬅ #eaf9ff */
  --color-tertiary-100: 226 247 255; /* ⬅ #e2f7ff */
  --color-tertiary-200: 219 245 255; /* ⬅ #dbf5ff */
  --color-tertiary-300: 198 239 255; /* ⬅ #c6efff */
  --color-tertiary-400: 155 226 255; /* ⬅ #9be2ff */
  --color-tertiary-500: 112 214 255; /* ⬅ #70D6FF */
  --color-tertiary-600: 101 193 230; /* ⬅ #65c1e6 */
  --color-tertiary-700: 84 161 191; /* ⬅ #54a1bf */
  --color-tertiary-800: 67 128 153; /* ⬅ #438099 */
  --color-tertiary-900: 55 105 125; /* ⬅ #37697d */
  /* success | #22bb33 */
  --color-success-50: 222 245 224; /* ⬅ #def5e0 */
  --color-success-100: 211 241 214; /* ⬅ #d3f1d6 */
  --color-success-200: 200 238 204; /* ⬅ #c8eecc */
  --color-success-300: 167 228 173; /* ⬅ #a7e4ad */
  --color-success-400: 100 207 112; /* ⬅ #64cf70 */
  --color-success-500: 34 187 51; /* ⬅ #22bb33 */
  --color-success-600: 31 168 46; /* ⬅ #1fa82e */
  --color-success-700: 26 140 38; /* ⬅ #1a8c26 */
  --color-success-800: 20 112 31; /* ⬅ #14701f */
  --color-success-900: 17 92 25; /* ⬅ #115c19 */
  /* warning | #f0ad4e */
  --color-warning-50: 253 243 228; /* ⬅ #fdf3e4 */
  --color-warning-100: 252 239 220; /* ⬅ #fcefdc */
  --color-warning-200: 251 235 211; /* ⬅ #fbebd3 */
  --color-warning-300: 249 222 184; /* ⬅ #f9deb8 */
  --color-warning-400: 245 198 131; /* ⬅ #f5c683 */
  --color-warning-500: 240 173 78; /* ⬅ #f0ad4e */
  --color-warning-600: 216 156 70; /* ⬅ #d89c46 */
  --color-warning-700: 180 130 59; /* ⬅ #b4823b */
  --color-warning-800: 144 104 47; /* ⬅ #90682f */
  --color-warning-900: 118 85 38; /* ⬅ #765526 */
  /* error | #bb2124 */
  --color-error-50: 245 222 222; /* ⬅ #f5dede */
  --color-error-100: 241 211 211; /* ⬅ #f1d3d3 */
  --color-error-200: 238 200 200; /* ⬅ #eec8c8 */
  --color-error-300: 228 166 167; /* ⬅ #e4a6a7 */
  --color-error-400: 207 100 102; /* ⬅ #cf6466 */
  --color-error-500: 187 33 36; /* ⬅ #bb2124 */
  --color-error-600: 168 30 32; /* ⬅ #a81e20 */
  --color-error-700: 140 25 27; /* ⬅ #8c191b */
  --color-error-800: 112 20 22; /* ⬅ #701416 */
  --color-error-900: 92 16 18; /* ⬅ #5c1012 */
  /* surface | #2b2e40 */
  --color-surface-50: 223 224 226; /* ⬅ #dfe0e2 */
  --color-surface-100: 213 213 217; /* ⬅ #d5d5d9 */
  --color-surface-200: 202 203 207; /* ⬅ #cacbcf */
  --color-surface-300: 170 171 179; /* ⬅ #aaabb3 */
  --color-surface-400: 107 109 121; /* ⬅ #6b6d79 */
  --color-surface-500: 43 46 64; /* ⬅ #2b2e40 */
  --color-surface-600: 39 41 58; /* ⬅ #27293a */
  --color-surface-700: 32 35 48; /* ⬅ #202330 */
  --color-surface-800: 26 28 38; /* ⬅ #1a1c26 */
  --color-surface-900: 21 23 31; /* ⬅ #15171f */
}
